/* -------------Header -----------------*/
/* Large devices (desktops, 992px and up) */

.logo {
  height: 100px;
  width: 150px;
}
main {
  display: flex;
  flex-direction: column;
}
input {
  margin-top: 200px;
  margin-left: 200px;
  border-radius: 18px;
  height: 100px;
  width: 400px;
  font-size: 22px;
  font-weight: bold;
  border: solid, 1px, white;
}
.head-button {
  color: white;
  background-color: black;
  font-size: 24px;
  height: 100px;
  width: 200px;
  margin: 10px;
  border-radius: 18px;
}

.header-container {
  display: flex;
  justify-content: center;
  justify-content: space-around;
  margin-bottom: 80px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: black;
}
.head-button:hover {
  cursor: pointer;
  border: 2px solid white;
}
.sidebar {
  display: none;
}
.menu {
  margin: 20px;
}
.menu-button {
  font-size: 28px;
  width: 100px;
  margin: 20px;
  color: white;
  background-color: black;
  border-radius: 18px;
}

li {
  color: white;
  font-size: 20px;
  margin: 10px;
}
li:hover {
  text-decoration: underline;
  color: white;
}

/* -------------MAIN PAGE --------------*/
body {
  background-color: #1a1b1d;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
a {
  text-decoration: none;
  color: inherit;
}
.button {
  box-shadow: none;
}
.background-image {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover; /* Assure que l'image couvre toute la section */
  background-repeat: no-repeat; /* Évite que l'image se répète */
}
.accueil {
  width: 100vw;
  height: 600vh;
  background-size: cover;
  background-repeat: repeat;
  margin-top: 100px;
  background-attachment: fixed;
  margin-top: 150px;
}
section img {
  height: 900px;
  width: 100%;
  object-fit: cover;
}

p {
  color: white;
  font-size: 18px;
}
.waiting {
  font-size: 60px;
  color: white;
}
.profile-container {
  display: flex;
  flex-wrap: wrap;
}
.profile:hover {
  border: 5px solid white;
  border-radius: 60%;
}
.profile {
  margin: 20px;
  text-align: center;
  width: 230px;
}
.profile img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
}
.profile-name {
  font-weight: bolder;
  font-size: 20px;
}
.profile-desc {
  font-size: 12px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/*-----------------CHARACTER PAGE*/

h1 {
  color: white;
  font-size: 40px;
  font-weight: bold;
  margin: 50px;
}
.char-container {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 200px;
}

.char-container img {
  height: 500px;
  width: 800px;
  margin: 10px;
}
.char-details {
  margin: 10px;
  display: flex;
  justify-content: space-around;
}
.char-desc {
  width: 200px;
}

.char-comics {
  width: 600px;
  display: flex;
  height: 350px;
  overflow: auto;
  padding: 10px;
  border: 2px solid white;
  border-radius: 18px;
}
h2 {
  color: white;
  font-size: 20px;
  font-weight: bold;
}
.favorites {
  margin-left: 300px;
  margin-right: 300px;
  height: 200px;
}
.comic-list {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 10px;
}
.comic-list img {
  height: 250px;
  width: 170px;
  margin: 10px;
}
.comic-list:hover {
  border: 2px solid white;
  border-radius: 18px;
  cursor: pointer;
}

/*------------ALL CHARACTERS PAGE --------------*/
.chars-container {
  display: flex;
  flex-wrap: wrap;
  margin: 150px;
  text-align: center;
  font-size: 12px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.char-card {
  width: 200px;
  margin: 30px;
  border-radius: 18px;
}
.char-card img {
  height: 300px;
  width: 200px;
  object-fit: cover;
  border-radius: 18px;
}

.char-card:hover {
  border: 2px solid white;
}
.page-button {
  display: flex;
  justify-content: space-evenly;
  height: 50px;
  margin-bottom: 100px;
}
.pages {
  background-color: black;
  color: white;
  font-size: 40px;
  border-radius: 18px;
}
.pages:hover {
  border: 2px solid white;
}
.name-title {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/*---------------------------------------------------*/

.comic-container {
  display: flex;

  justify-content: center;
  align-items: center;
  margin: 100px;
}
.comic-container img {
  height: 600px;
  width: 600px;
}
.comic-details {
  width: 300px;
  margin: 100px;
}
.fav-comic {
  margin: 50px;
  width: 200px;
  height: 100px;
  border-radius: 18px;
  font-size: 30px;
}
.fav-comic:hover {
  cursor: pointer;
}

/*---------------------RESPONSIVE---------------------*/

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 768px) {
  .head-button {
    display: none;
  }

  .sidebar {
    display: contents;
  }
  .chars-container {
    display: block;
  }
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 992px) {
}

/* Rules */

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width: 1400px) {
  /* Rules */
}

/* Extra extra large devices (large desktops, 1400px and up) */
@media (min-width: 1400px) {
  /* Rules */
}
