/* -------------Header -----------------*/

.logo {
  height: 100px;
  width: 150px;
}
.head-button {
  color: white;
  background-color: black;
  font-size: 24px;
  height: 100px;
  width: 200px;
  margin: 10px;
  border-radius: 18px;
}

.header-container {
  display: flex;
  justify-content: center;
  justify-content: space-around;
  margin-bottom: 80px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: black;
}
.head-button:hover {
  cursor: pointer;
  border: 2px solid white;
}

/* -------------MAIN PAGE --------------*/
body {
  background-color: black;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
a {
  text-decoration: none;
  color: inherit;
}
.button {
  box-shadow: none;
}
.background-image {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover; /* Assure que l'image couvre toute la section */
  background-repeat: no-repeat; /* Évite que l'image se répète */
}
.accueil {
  width: 100vw;
  height: 600vh;
  background-size: cover;
  background-repeat: repeat;
  margin-top: 100px;
  background-attachment: fixed;
  margin-top: 150px;
}
section img {
  height: 900px;
  width: 100%;
  object-fit: cover;
}

p {
  color: white;
  font-size: 18px;
}
.waiting {
  font-size: 60px;
  color: white;
}
.profile-container {
  display: flex;
  flex-wrap: wrap;
}
.profile:hover {
  border: 5px solid white;
  border-radius: 60%;
}
.profile {
  margin: 20px;
  text-align: center;
  width: 230px;
}
.profile img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
}
.profile-name {
  font-weight: bolder;
  font-size: 20px;
}
.profile-desc {
  font-size: 12px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/*-----------------CHARACTER PAGE*/

h1 {
  color: white;
  font-size: 40px;
  font-weight: bold;
  margin: 50px;
}
.char-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.char-container img {
  height: 500px;
  width: 800px;
  margin: 10px;
}
.char-details {
  margin: 10px;
  display: flex;
  justify-content: space-around;
}
.char-desc {
  width: 200px;
}

.char-comics {
  width: 200px;
}
.favorites {
  margin-left: 300px;
  margin-right: 300px;
  height: 200px;
}

/*------------ALL CHARACTERS PAGE --------------*/
.chars-container {
  display: flex;
  flex-wrap: wrap;
  margin: 150px;
  text-align: center;
  font-size: 12px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.char-card {
  width: 200px;
  margin: 30px;
  border-radius: 18px;
}
.char-card img {
  height: 300px;
  width: 200px;
  object-fit: cover;
  border-radius: 18px;
}

.char-card:hover {
  border: 2px solid white;
}
.page-button {
  display: flex;
  justify-content: space-evenly;
  height: 50px;
  margin-bottom: 100px;
}
.pages {
  background-color: black;
  color: white;
  font-size: 40px;
  border-radius: 18px;
}
.pages:hover {
  border: 2px solid white;
}
.name-title {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/*---------------------------------------------------*/

.comic-container {
  display: flex;

  justify-content: center;
  align-items: center;
  margin: 100px;
}
.comic-container img {
  height: 600px;
  width: 600px;
}
.comic-details {
  width: 300px;
  margin: 100px;
}
.fav-comic {
  margin-top: 50px;
  width: 200px;
  height: 100px;
  border-radius: 18px;
  font-size: 30px;
}
